:root {
    --bg-color: white;
    --text-color: black;
    --input-text-color: ;
    --input-bg-color: ;
    --input-border-color: ;
    --btn-bg-color: ;
    --btn-text-color: ;
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] {
    --bg-color: #1f1f1f;
    --text-color: #e0e0e0;
    --input-text-color: ;
    --input-bg-color: ;
    --input-border-color: ;
    --btn-bg-color: ;
    --btn-text-color: ;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

input {
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
}

button {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
}